footer{
    display: flex;
    background-color: #003866;
    height: 100px;
    justify-content: center;
}
.rodape p {
    display: flex;
    align-items: center;
    color: aliceblue;
    font-size: 15pt;
    
}